<?xml version="1.0"?>

<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="inchoo_sample05" frontName="sample05">
            <module name="Inchoo_Sample05" />
        </route>
    </router>
</config>